[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy = "*"
"sqlalchemy.orm" = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
faker = "*"
datetime = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
